* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
$dark: #18191a;
$dark-font: white;
$news-feedBG: #242526;
$news-feed-box-shadow: 0 0 5px rgba(160, 158, 169, 0.4);
body {
    font-family: sans-serif;
    background-color: $dark;
    color: $dark-font;
    transition: all 0.5sc ease-in-out;
}
.stories_main_wrap {
    width: 100vw;
}
.box_flex_j_center {
    display: flex;
    justify-content: center;
}
.stories_main_container {
    width: 100vw;
    max-width: 1920px;
    justify-content: space-between;
    margin-top: 56px;
    padding-top: 25px;
}

.container_stories-follow,
.container_stories-other {
    flex-basis: 360px;
}
.container_stories-list {
    flex: 0 1 680px;
    .container_stories-list_box,
    .create_stories_post {
        max-width: 680px;
        width: 100%;
    }
}

.box_flex {
    display: flex;
}

.create_stories_post {
    padding: 20px;
}

.list_box-surface-background {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: $news-feedBG;
    box-shadow: $news-feed-box-shadow;
    transition: all 0.3s;
}

.box_flex {
    display: flex;
}

.stories_post {
    flex-basis: 50px;
}
.header_member-portrait-img {
    img {
        width: 30px;
    }
}

.box_portrait {
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box_img_portrait {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
textarea {
    outline: none;
    resize: none;
}

.stories_post_dg23d {
    flex: 0 1 50px;
    margin-right: 17px;
    display: flex;
    align-items: center;
}

.create_stories_option {
    margin-left: 57px;
    margin-top: 5px;
}

.box_flex_a_center {
    display: flex;
    align-items: center;
}
.stories_is_public {
    margin: 0 5px 0 10px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

input {
    color: black;
    font-size: 1.3em;
    border: 1px solid transparent;
    outline: none;
    padding: 11px 15px 11px;
    transition: all 0.3s;
    display: block;
}

.stories_is_checkbox {
    color: #bfbfbf;
}
.stories_post_author {
    width: 50px;
    height: 50px;
}
.stories_write-recount-story {
    margin-bottom: 5px;
    outline: none;
    padding: 0;
    height: 21px;
    color: white;
    resize: none;
}

.stories_post_recount-story {
    flex-direction: column;
    position: relative;
    z-index: 10;
    width: 100%;
    /* height: 100%; */
}

textarea {
    display: block;
    border: 0;
    resize: none;
    outline: none;
    padding: 11px 8px;
    background-color: transparent;
    font-size: 18px;
}

.create_stories_option-detail {
    justify-content: space-between;
    border-top: 1px solid rgba(146, 146, 146, 0.5);
    margin-top: 15px;
    padding-top: 10px;
}

.box_flex_a_center {
    display: flex;
    align-items: center;
}

.option_icon_btn {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.create_stories_publish {
    padding: 9px 24px;
}
.stories_author {
    &_wrapper {
        padding: 20px;
    }
    display: flex;
    justify-content: space-between;
}
.stories_author_info {
    flex: 0 1 90%;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.stories_author_sb {
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-between;
}
.stories_author_sb_top {
    font-size: 20px;
}
.stories_author_sb_lower {
    font-size: 15px;
    font-weight: 600;
    color: #bfbfbf;
}

.stories_author_portrait {
    flex: 0 1 50px;
    height: 50px;
}
.stories_placeholder-inner {
    position: absolute;
    z-index: 1;
    color: #d8d8d8;
}
.stories_article_content {
    & > h1 {
        font-weight: 500;
        font-size: 36px;
    }
    & > p {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 12px;
    }
    img {
        max-width: 100%;
    }
    line-height: 30px;
    padding: 0 20px 20px;
}
.btn {
    padding: 10px 30px;
    color: #fff;
    background-color: #0da6ff;
    border: 1px solid #008cdd;
    box-shadow: 5px 5px 20px rgba(55, 181, 255, 0.5);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
}

.box_img_portrait {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.picture-fullWidth {
    background-position: center;
    background-size: cover;
    margin-bottom: 12px;
    border-radius: 8px;
}
.picturesContainer {
    display: flex;
    justify-content: space-between;
    .picture {
        border-radius: 8px;
        background-position: center;
        background-size: cover;
        flex: 0 1 32%;
    }
}

#dwb_nav-header {
    width: 100vw;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 20px;
    background-color: #0a0a0a;
    transition: all 0.3s;
}

.dwb_nav-header-Wrap {
    height: 56px;
    width: 100%;
    max-width: 1920px;
}

.box_flex_a_center {
    display: flex;
    align-items: center;
}
.mectrl_accountInfo {
    margin-right: 12px;
}
.mectrl_accountDetails {
    color: #242526;
}
#mectrl_currentAccount_primary {
    font-size: 18px;
    font-weight: 700;
}
#mectrl_currentAccount_secondary {
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a#mectrl_viewAccount {
    font-size: 0.8rem;
    margin-top: 12px;
}
.box_portrait.mectrl_profilepic {
    margin-right: 12px;
}

.dwb_header-LeftContainer {
    min-width: 50px;
    height: 100%;
}
.box_flex_ja_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dwb_header-nabButton {
    padding: 10px;
    cursor: pointer;
}
.dwb_header-CenterContainer {
    width: calc(100vw - 100px);
}
.dwb_header-name {
    justify-content: space-between;
}
.box_flex_ja_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dwb_header-homelink.first {
    padding: 0 20px;
    text-shadow: -7px 0px 25px #d0cb39;
}
.dwb_header-homelink {
    margin-right: 20px;
    color: white;
}
.font_segoe-print {
    font-family: segoe print;
}
.dwb_header-homelink {
    margin-right: 20px;
    color: white;
}
.font_segoe-print {
    font-family: segoe print;
}

.dwb_header-homelink.last {
    margin-right: 40px;
}

.quota_table {
    width: 250px;
    flex-direction: column;
}
.quota_table > p {
    font-size: 12px;
    padding-left: 3px;
    color: #bfbfbf;
}
.quota_table > div {
    padding: 3px;
}
.quota_table > div > div {
    width: 100%;
    background-color: #e7e7e7;
}

.dwb_header-RightContainer {
    min-width: 50px;
    height: 100%;
    position: relative;
}
.header_member-portrait {
    cursor: pointer;
    width: 100%;
    height: 100%;
}
#mectrl_main_body {
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 9999;
    width: 320px;
    background-color: #d8d8d8;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.7);
    display: none;
}
.mectrl_body {
    padding: 10px;
}
.mectrl_currentAccount {
    justify-content: space-between;
}

.dark_mode_panel {
    width: 70px;
    height: 43px;
}

.dark_mode_switch.active {
    background-color: #ffb74d;
}

.dark_mode_switch {
    width: 55px;
    height: 28px;
    background-color: #c3c3c3;
    border-radius: 30px;
    padding: 3px;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
}
.dark_mode_switch_icon.active {
    left: 30px;
}
.dark_mode_switch_icon {
    border-radius: 50%;
    background-color: #d4d4d4;
    width: 22px;
    height: 22px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 3px;
    transition: all 0.5s;
}
.dark_mode_switch_icon {
    border-radius: 50%;
    background-color: #d4d4d4;
    width: 22px;
    height: 22px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 3px;
    transition: all 0.5s;
}
.mectrl_profilepic {
    .box_img_portrait {
        max-width: 88px;
    }
}
